
.principal{
    text-align: center;
    width: 800px;
    display: inline-block;
}

.number-item {
    width: 200px;
    height: 200px;
    margin-left: -4px;
}
.operator-item {
    width: 200px;
    height: 200px;
    margin-left: -4px;
}
.item {
    width: 200px;
    height: 200px;
    vertical-align: center;
    text-align: center;
    font-size: 160px;
}