
.principal{
    text-align: center;
    width: 500px;
    display: inline-block;
}

.number-item {
    width: 125px;
    height: 125px;
    margin-left: -4px;
}
.operator-item {
    width: 125px;
    height: 125px;
    margin-left: -4px;
}
.item {
    width: 125px;
    height: 125px;
    vertical-align: center;
    text-align: center;
    font-size: 80px;
}