
.principal{
    text-align: center;
    width: 250px;
    display: inline-block;
}

.number-item {
    width: 62px;
    height: 62px;
    margin-left: -4px;
}
.operator-item {
    width: 62px;
    height: 62px;
    margin-left: -4px;
}
.item {
    width: 62px;
    height: 62px;
    vertical-align: center;
    text-align: center;
    font-size: 55px;
}